/* -----------------GLOBAL STYLES FOR THE WEBSITE----------------- */

/* Font = Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Font = Modern_Warframe */
/* We couldn't find any font having gaming style on google font so we are using Modern Warfare font for the gaming website. */
@font-face {
  font-family: "Modern_Warframe";
  src: url("../Font/MODERN_WARFARE.ttf") format("truetype"),
    url("../Font/MODERN_WARFARE.otf") format("opentype");
}

h1,
h2,
h3,
h4 {
  font-family: "Modern_Warframe", fallback;
}

/* Variables */
:root {
  --white: #f9f9f9;
  --logoblack: #161515;
  --green: #bfff2d;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  width: 100%;
  height: auto;
}

.d-none{
    display: none;
}
/* Body */
body {
  background-color: var(--white);
  font-family: "Poppins", sans-serif;
}

/* HEADER */
header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--logoblack);
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}
.navBar_active{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--logoblack);
    top: 0;
    left: 0;
    right: 0;
}
.mobil-toggle{
    padding: 10px 14px;
    background: #242447;
    border-radius: 10px;
    color: #ffff;
}
.navBar_active.slide-bottom {
	-webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
  }
  
.navBar_active ul{
    padding: 2rem 1rem 1rem;
    text-align: center;
    list-style: none;
}
.navBar_active ul li{
    padding: 2rem 1rem 1rem;
    text-align: center;
    list-style: none;
}
.navBar_active ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
}
.navBar ul{
    list-style: none;
}
.navBar a{
    text-decoration: none;
    color: #ffffff;
}
.navBar ul li{
    list-style: none;
    padding: 1rem;
    /* border: 1px solid; */
}
.closeNav{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--green);
    cursor: pointer;
    z-index: 1;
}
.navBar{
    display: none;
}
.navBar ul{
    display: flex;
    gap: 1rem;
}
header img{
    width: auto;
    height: 70px;
    object-fit: contain;
    margin-right: auto;
    max-width: 100%;
}
.inputField {
    padding: 7px 25px;
    border: 1px solid #242447;
    border-radius: 5px;
    outline: none;
    background: #ffffff;
    color: #9494C7;
}
.searchBar {
    position: relative;
    color: #9494C7;
}
.searchIcon {
    position: absolute;
    top: 25%;
}
/************* HEADER END ************/

/* MAIN */
.container{
    max-width: 1200px;
    padding: 1rem;
    margin: auto;
}
.topRated_section {
    display: grid;
    gap: 1rem;
}
.topratedParent{
    background-color: #0000003d;
}
.topRated-heading{
    text-align: center;
}
.topRated-heading h2{
    font-size: clamp(1.5rem, 5vw, 4rem);
}
.upcomingParent {
    background-color: #dddddd;
}
.featureParent {
    background-color: #0000003d;
}
main div section{
    display: grid;
    gap: 1rem;
    margin-top: 1rem
}
section.featured-section {
    /* background-color: #00000082; */
    padding: 1rem;
}

.GameCard {
    height: 30rem;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: rgb(240, 240, 240);
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);

    img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.9;
        transition: opacity .2s ease-out;
        opacity: 1;
    }

    h2 {
        position: absolute;
        inset: auto auto 30px 30px;
        margin: 0;
        transition: inset .3s .3s ease-out;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: normal;
        text-transform: uppercase;
        opacity: 1;
        inset: auto auto 220px 30px;
    }

    p,
    a {
        position: absolute;
        opacity: 0;
        max-width: 80%;
        transition: opacity .3s ease-out;
        opacity: 1;
    }

    p {
        inset: auto auto 80px 30px;
        opacity: 1;
    }

    a {
        inset: auto auto 40px 30px;
        color: inherit;
        text-decoration: none;
        opacity: 1;
    }

    &:hover h2 {
        inset: auto auto 220px 30px;
        transition: inset .3s ease-out;
    }

    &:hover p,
    &:hover a {
        opacity: 1;
        transition: opacity .5s .1s ease-in;
    }

    &:hover img {
        transition: opacity .3s ease-in;
        opacity: 1;
    }

}

.symbols-outlined {
    vertical-align: middle;
}
.upcomingEvent article{
    display: grid;
    gap: 1rem
}
.upcomingEvent article div {
    background-color: #eeeded;
    padding: 1rem;
}
.upcomingEvent h2{
    font-size: clamp(1.5rem, 5vw, 4rem);
}
/****************** MAIN END ********************/

/* FOOTER */

footer {
    background-color: var(--logoblack);
    color: var(--white);
    padding: 1rem;
  }
  
  .footer-content-about,
  .footer-content-link,
  .footer-content-final {
    border-bottom: 1px solid var(--green);
    padding: 1rem;
  }
  
  .footer-content-about h4 {
    color: var(--green);
    font-size: 1.5rem;
  }
  
  .footer-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 100px;
  }
  
  .footer-content-link-icon a {
    color: var(--green);
    font-size: 1.2rem;
    transition: all 0.2s ease-in-out;
  }
  
  .footer-content-link-icon a:hover {
    color: var(--white);
    text-shadow: var(--green) 1px 0 10px;
  }
  
  .footer-social-text,
  .footer-subscribe-text {
    font-size: 1.5rem;
    text-align: center;
    color: var(--green);
    border-bottom: 1px solid var(--white);
  }
  
  .footer-social ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem;
    list-style: none;
  }
  
  .footer-social ul li {
    text-align: center;
    padding: 1rem;
  }
  
  .footer-social a {
    color: var(--green);
    font-size: 1.5rem;
    transition: all 0.2s ease-in-out;
  }
  
  .footer-social a:hover {
    color: var(--white);
    text-shadow: var(--green) 1px 0 10px;
  }
  
  .subscribe-section {
    text-align: center;
    padding: 1rem;
  }
  
  .subscribe-section input {
    padding: 0.5rem 2rem;
    border: 1px solid var(--green);
    color: var(--logoblack);
  }
  
  .subscribe_icon {
    position: relative;
    right: 0.3rem;
    bottom: 0;
    top: 0.1rem;
    background-color: var(--logoblack);
    padding: 0.3rem 0.6rem;
    border: 1px solid var(--green);
    border-left: none;
  }
  
  .subscribe_icon:hover {
    background-color: var(--green);
    color: var(--logoblack);
  }
  
  .subscribe-section-button {
    display: none;
  }
  
  .footer-credit {
    text-align: center;
    padding: 1rem 1rem 0.5rem 1rem;
  }
/******************* FOOTER *************************/



/* RESPONSIVE */
@media only screen and (min-width:768px) {
    .featured-section {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
    }
    .upcomingEvent article div{
        align-content: center;
    }
    .upcomingImg img{
       width: 60%;
    }
    .upcomingImg{
        text-align: center;
    }
    .topRated_section {
        grid-template-columns: 1fr 1fr;
    }
    .topRated_section p{
        align-content: center;
    }
 .trendingText{
    grid-column: span 2;
    align-content: center;
    text-align: center;
    font-size: clamp(1.5rem, 5vw, 4rem);
 }
    .GameCard {
        grid-column: span 1; /* Span one column */
      }
      
      .GameCard:nth-child(odd) {
        grid-row: span 2; /* Span two rows */
        grid-column: span 2;
      }
      
      .GameCard:nth-child(even) {
        grid-row: span 2; /* Span two rows */
        grid-column: 3; /* Align to the third column */
      }
      .upcomingEvent article{
        grid-template-columns: 1fr 1fr;
    }
   
    /* FOOTER */
    .footer-content-about {
        text-align: center;
      }
      .footer-content-about h4 {
        font-size: 2rem;
      }
    
      .footer-content-link,
      .footer-content-final {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
    
      .footer-content-link {
        text-align: center;
      }
    
      .footer-content-link-icon a {
        font-size: 1.5rem;
      }
    
      .footer-content-final {
        gap: 0.5rem;
      }
    
      .footer-logo img {
        width: auto;
        height: 100px;
      }
    
      .footer-social-text,
      .footer-subscribe-text {
        padding: 0 0 0.5rem 0;
      }
    
      .footer-social ul {
        padding: 0%;
      }
    
      .subscribe_icon {
        display: none;
      }
    
      .subscribe-section-button {
        display: block;
      }
    
      .subscribe-section-button-input {
        display: block;
        padding: 0.5rem 2rem;
        border: 1px solid var(--green);
        border-radius: 15px;
        color: var(--logoblack);
        background: var(--green);
        width: 100px;
        margin-left: auto;
        margin-right: auto;
        transition: all 0.2s ease-in-out;
      }
    
      .subscribe-section-button-input:hover {
        background: var(--logoblack);
        color: var(--green);
      }
    /**************** FOOTER END ***************/
}

@media only screen and (min-width:1024px) {
    #hamBurger{
        display: none;
    }
    nav ul li a {
        position: relative;
    }
    .navBar{
        display: block;
    }
    nav ul li a:hover:after {
        width: 100%;
    }
    .searchIcon {
        left: 5px;
    }
    nav ul li a {
        transition: all 0.5s;
    }
    nav ul li a:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        background: #aaa;
        height: 1px;
    }
    nav ul li a:after {
        text-align: left;
        content: '.';
        margin: 0;
        opacity: 0;
    }
    
    nav ul li a:hover {
        color: #fff;
        z-index: 1;
        background-color: grey;
        border-radius: 4px;
        padding: 0.5rem;
    }
    
    nav ul li a:hover:after {
        z-index: -10;
        animation: fill 0.5s forwards;
        -webkit-animation: fill 1s forwards;
        -moz-animation: fill 1s forwards;
        opacity: 1;
     
    } 
    .trendingText{
        left: 11rem;
    }
    .GameCard {
        height: 30rem;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        color: rgb(240, 240, 240);
        box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    
        img {
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0.9;
            transition: opacity .2s ease-out;
        }
    
        h2 {
            position: absolute;
            inset: auto auto 30px 30px;
            margin: 0;
            transition: inset .3s .3s ease-out;
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: normal;
            text-transform: uppercase;
        }
    
        p,
        a {
            position: absolute;
            opacity: 0;
            max-width: 80%;
            transition: opacity .3s ease-out;
        }
    
        p {
            inset: auto auto 80px 30px;
        }
    
        a {
            inset: auto auto 40px 30px;
            color: inherit;
            text-decoration: none;
        }
    
        &:hover h2 {
            inset: auto auto 220px 30px;
            transition: inset .3s ease-out;
        }
    
        &:hover p,
        &:hover a {
            opacity: 1;
            transition: opacity .5s .1s ease-in;
        }
    
        &:hover img {
            transition: opacity .3s ease-in;
            opacity: 1;
        }
    
    }
    
    .symbols-outlined {
        vertical-align: middle;
    }
}
@media only screen and (min-width:1200px) {

}
/**************** RESPONSIVE END ************** */